.git
.github
.idea
.vscode
.claude
.ai
.mcp.json
docs

node_modules
public/build
public/hot

vendor

storage/app/public
storage/debugbar
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

.env
.env.*
!.env.example

tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache

*.md
!README.md

docker-compose*.yml
.dockerignore
Dockerfile
